*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 10px;
}

.grid .f1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f4{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f5{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f6{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f7{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f8{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f9{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f10{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f11{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.grid .f12{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}